# Masukan API ID ambil di web my.telegram.org
API_ID = "26743489"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "8024a43b60622e04a02acf0f13149a2c"

# Masukan String PYROGRAM Bisa di ambil Lewat t.me/StringManRobot
# Untuk Multi Client Tambahkan STRING_SESSION2 sampai STRING_SESSION5
STRING_SESSION1 = "BQAhIHQABkOergUOCa0z7G_HyYdRjVIWA89DqpPHggJY9OWEGBb-S6HEuzjL4nJVN7JndgoRajpPAuSezR7xEeBYWbG_Ivb2RW7n3bcR5sVrKAiO0Nmej2W8Zk6b9BWbOukc2LHdC8zPaCmqNvTFkctkourL8e3HQJZD9UilC2_Olf1XWarB03g0BeiI07_V5a2BXB71ks4NaKfgc1LrvLk2lL5DHOEtcWvemK_MYzDPDdKKaBEq2yN77e7ArmVvq0zwiRUv_ybl3OSci0bxAQrxKJk-Wgv0InCo7pGbF3W78-9tuZheuNR0SLXtBTTK3VG0U4JZxva33x6nLEy-vycWmzh98gAAAAFkr7Z0AA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
# Bila tidak di isi default pindah ke Pesan Tersimpan
BOTLOG_CHATID = -1001880406246 # ini adalah integer, tolong jangan gunakan tanda kutip.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://nhtwommz:QNNAdV0MufL8fHWZo4IBKBrwlijCWSjX@ruby.db.elephantsql.com/nhtwommz"
